

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.test {
  margin-top:12px;
}



.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#2EB52E;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-new:hover{color:#35C342;}
.nav-new{padding:15px 5px;transition:0.2s;}


ul li, ul li span:last-child {
    transition:all 500ms;
}

.aside {
    color:#666;
}
.aside:hover{color:#fff;text-decoration:none;}

aside {
    width:250px;
    background:#222222;
    height:77.3%;
    Position:fixed;
    top:70;
    left:50;
    bottom:50;
}
ul {
    margin:0;
    padding:0;
    counter-reset:li;
}
ul li {
    list-style:none;
    border-bottom:1px solid #222;
    height:52px;
    color:#666;
    position:relative;
    overflow:hidden;
}
ul li:hover {
    color:#fff;
    cursor:pointer;
}
ul li span {
    display:block;
    padding:15px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
ul li span:first-child:before {
    content:""counter() ".";
    counter-increment:li;
}
ul li span:first-child {
    z-index:2;
}
ul li span:last-child {
    padding:0;
    display:block;
    background:#35C342;
    z-index:1;
    position:absolute;
    top:0;
    left:-300px;
    bottom:0;
    width:300px;
    height:52px;
}
ul li:hover > span:last-child {
    left:0;
}

