{% extends "shop/base.html"%}
{% block content %}

	<div class="col-lg-9">
		<div class="row">
			
		</div>
		
			<h3><br>
				We specialize in wedding photography, corporate, family and portraits, often traveling to your destination to capture the perfect moment in the perfect place.<br><br>

				To us photography is about people being real and then letting us paint a picture of that moment to remember it forever. This is the story that matters most: real people, real stories, real moments.
			</h3>
		
		
		</div>
	</div>


{% endblock content %}
	
