{% extends "shop/base.html"%}
{% block content %}

	<div class="col-lg-9">
		<div class="row">
			
		</div>
		
			<h3><br><br>
			<div class="form-group">
				<button onclick="window.open(href='https://vk.com/public168164357')" class="btn btn-outline-info" type="submit">VK</button>
				<button onclick="window.open(href='https://instagram.com/rais_pics')" class="btn btn-outline-info" type="submit">INSTAGRAM</button>
				<button onclick="window.open(href='https://facebook.com/')" class="btn btn-outline-info" type="submit">FACEBOOK</button>

			</div>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			</h3>
		
		
		</div>
	</div>


{% endblock content %}
	
